<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs %>
<% stylesheet = current_page.data.stylesheet || 'screen' %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>

    <%= stylesheet_link_tag stylesheet, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if language_tabs %>
      <script>
        $(function() {
          setupLanguages(<%= language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>);
        });
      </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="tocify-wrapper">
        <svg id="dexter-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="117" height="22" viewBox="0 0 117 22">
            <path d="M116.914,21.134 C117.140,21.516 116.865,21.999 116.422,21.999 L110.873,21.999 C110.661,21.999 110.466,21.881 110.367,21.693 L106.998,15.266 C106.899,15.078 106.704,14.960 106.492,14.960 L105.423,14.960 C105.107,14.960 104.851,15.216 104.851,15.533 L104.851,21.426 C104.851,21.743 104.595,21.999 104.280,21.999 L99.263,21.999 C98.948,21.999 98.692,21.743 98.692,21.426 L98.692,1.250 C98.692,0.933 98.948,0.677 99.263,0.677 L109.229,0.677 C110.502,0.677 116.712,1.799 116.712,7.971 C116.712,11.595 114.366,13.194 113.258,13.748 C112.961,13.896 112.853,14.265 113.022,14.552 L116.914,21.134 ZM107.911,6.007 L105.364,6.007 C105.048,6.007 104.792,6.263 104.792,6.580 L104.792,9.158 C104.792,9.475 105.048,9.731 105.364,9.731 L108.059,9.731 C108.984,9.731 110.392,9.407 110.392,8.023 C110.392,6.638 109.810,6.007 107.911,6.007 ZM80.384,21.982 C80.069,21.982 79.813,21.725 79.813,21.409 L79.813,1.181 C79.813,0.865 80.069,0.608 80.384,0.608 L96.294,0.608 C96.610,0.608 96.866,0.865 96.866,1.181 L96.866,5.290 C96.866,5.606 96.610,5.862 96.294,5.862 L86.493,5.862 C86.177,5.862 85.921,6.119 85.921,6.435 L85.921,7.892 C85.921,8.208 86.177,8.464 86.493,8.464 L91.967,8.464 C92.283,8.464 92.539,8.721 92.539,9.037 L92.539,13.503 C92.539,13.819 92.283,14.075 91.967,14.075 L86.493,14.075 C86.177,14.075 85.921,14.332 85.921,14.648 L85.921,16.053 C85.921,16.369 86.177,16.626 86.493,16.626 L96.294,16.626 C96.610,16.626 96.866,16.882 96.866,17.199 L96.866,21.409 C96.866,21.725 96.610,21.982 96.294,21.982 L80.384,21.982 ZM72.501,6.186 C72.185,6.186 71.929,6.443 71.929,6.759 L71.929,21.426 C71.929,21.743 71.673,21.999 71.357,21.999 L66.239,21.999 C65.923,21.999 65.667,21.743 65.667,21.426 L65.667,6.759 C65.667,6.443 65.411,6.186 65.096,6.186 L59.661,6.186 L59.661,5.903 L62.630,0.954 C62.733,0.782 62.919,0.677 63.119,0.677 L77.415,0.677 C77.731,0.677 77.986,0.933 77.986,1.250 L77.986,5.613 C77.986,5.930 77.731,6.186 77.415,6.186 L72.501,6.186 ZM54.717,11.002 C54.610,11.183 54.610,11.407 54.717,11.588 L60.375,21.116 C60.602,21.498 60.327,21.982 59.884,21.982 L54.096,21.982 C53.890,21.982 53.700,21.871 53.598,21.691 L51.027,17.128 C50.803,16.730 50.228,16.742 50.021,17.149 L47.711,21.670 C47.613,21.862 47.417,21.982 47.202,21.982 L41.377,21.982 C40.934,21.982 40.660,21.499 40.885,21.118 L46.569,11.492 C46.674,11.315 46.676,11.096 46.574,10.918 L41.216,1.464 C40.999,1.082 41.275,0.609 41.713,0.609 L47.610,0.609 C47.824,0.609 48.021,0.729 48.119,0.920 L50.310,5.194 C50.521,5.606 51.107,5.610 51.323,5.201 L53.601,0.912 C53.700,0.725 53.894,0.609 54.106,0.609 L59.884,0.609 C60.327,0.609 60.602,1.093 60.375,1.474 L54.717,11.002 ZM22.576,21.982 C22.260,21.982 22.004,21.725 22.004,21.409 L22.004,1.181 C22.004,0.865 22.260,0.608 22.576,0.608 L38.486,0.608 C38.801,0.608 39.057,0.865 39.057,1.181 L39.057,5.290 C39.057,5.606 38.801,5.862 38.486,5.862 L28.684,5.862 C28.369,5.862 28.113,6.119 28.113,6.435 L28.113,7.892 C28.113,8.208 28.369,8.464 28.684,8.464 L34.159,8.464 C34.474,8.464 34.730,8.721 34.730,9.037 L34.730,13.503 C34.730,13.819 34.474,14.075 34.159,14.075 L28.684,14.075 C28.369,14.075 28.113,14.332 28.113,14.648 L28.113,16.053 C28.113,16.369 28.369,16.626 28.684,16.626 L38.486,16.626 C38.801,16.626 39.057,16.882 39.057,17.199 L39.057,21.409 C39.057,21.725 38.801,21.982 38.486,21.982 L22.576,21.982 ZM10.645,21.990 L1.189,21.990 C0.873,21.990 0.617,21.734 0.617,21.418 L0.617,7.308 C0.617,6.991 0.874,6.735 1.190,6.735 L6.181,6.746 C6.496,6.746 6.752,7.003 6.752,7.319 L6.752,15.790 C6.752,16.106 7.007,16.362 7.323,16.362 L9.568,16.362 C10.823,16.362 14.217,15.274 14.217,11.737 C14.217,8.200 12.317,6.330 9.738,6.330 L7.741,6.330 C7.425,6.330 7.169,6.073 7.170,5.756 L7.180,1.189 C7.181,0.873 7.437,0.617 7.752,0.617 L10.264,0.617 C11.155,0.617 20.674,1.076 20.674,10.972 C20.674,20.868 12.529,21.990 10.645,21.990 ZM0.575,5.715 C0.259,5.715 0.003,5.458 0.003,5.142 L0.003,0.574 C0.003,0.258 0.259,0.002 0.575,0.002 L5.535,0.002 C5.851,0.002 6.107,0.258 6.107,0.574 L6.107,5.142 C6.107,5.458 5.851,5.715 5.535,5.715 L0.575,5.715 Z"></path>
        </svg>
      <% if language_tabs %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <div id="toc">
      </div>
      <%= partial 'partials/footer' %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= yield %>
        <% current_page.data.includes && current_page.data.includes.each do |include| %>
          <%= partial "includes/#{include}" %>
        <% end %>
      </div>
      <div class="dark-box">
        <% if language_tabs %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
