<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs %>
<% stylesheet = current_page.data.stylesheet || 'screen' %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>

    <%= stylesheet_link_tag stylesheet, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if language_tabs %>
      <script>
        $(function() {
          setupLanguages(<%= language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>);
        });
      </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="tocify-wrapper">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="-89.5 344.1 200.3 39.5" style="enable-background:new -89.5 344.1 200.3 39.5; padding: 25px 15px 10px 15px; width: 60%; text-align: center" xml:space="preserve">
		<style type="text/css">
			.st0{fill:#ffffff;}
		</style>
		<g>
			<path class="st0" d="M-75.9,354.5V345c0-0.5-0.4-0.9-0.9-0.9h-11.8c-0.5,0-0.9,0.4-0.9,0.9v9.5c0,0.5,0.4,0.9,0.9,0.9h11.8
				C-76.3,355.4-75.9,355-75.9,354.5z"/>
			<path class="st0" d="M-68,347.8h-4.3c-0.5,0-0.9,0.4-0.9,0.9l0,7.8c0,0.5,0.4,0.9,0.9,0.9h3.4c4.3,0,7.5,3.1,7.5,9
				c0,5.9-5.7,7.7-7.8,7.7H-73c-0.5,0-0.9-0.4-0.9-0.9V359c0-0.5-0.4-0.9-0.9-0.9l-8.5,0c-0.5,0-0.9,0.4-0.9,0.9v23.7
				c0,0.5,0.4,0.9,0.9,0.9h15.9c3.2,0,16.8-1.9,16.8-18.4C-50.6,348.6-66.5,347.8-68,347.8z"/>
			<path class="st0" d="M44.4,347.9h-24c-0.3,0-0.7,0.2-0.8,0.5l-4.7,7.7c-0.2,0.3-0.1,0.7,0.2,0.9c0.1,0.1,0.3,0.1,0.5,0.1h8.1
				c0.5,0,1,0.4,1,1v24.5c0,0.5,0.4,1,1,1h8.6c0.5,0,1-0.4,1-1v-24.5c0-0.5,0.4-1,1-1h8.2c0.5,0,1-0.4,1-1v-7.3
				C45.4,348.4,45,347.9,44.4,347.9z"/>
			<path class="st0" d="M-20.7,347.8h-26.8c-0.5,0-0.9,0.4-0.9,0.9v33.9c0,0.5,0.4,0.9,0.9,0.9h26.8c0.5,0,0.9-0.4,0.9-0.9v-7.2
				c0-0.5-0.4-0.9-0.9-0.9h-16.6c-0.5,0-0.9-0.4-0.9-0.9v-2.5c0-0.5,0.4-0.9,0.9-0.9h9.3c0.5,0,0.9-0.4,0.9-0.9v-7.6
				c0-0.5-0.4-0.9-0.9-0.9h-9.3c-0.5,0-0.9-0.4-0.9-0.9v-2.6c0-0.5,0.4-0.9,0.9-0.9h16.6c0.5,0,0.9-0.4,0.9-0.9v-6.9
				C-19.8,348.2-20.2,347.8-20.7,347.8z"/>
			<path class="st0" d="M76.1,347.8H49.4c-0.5,0-0.9,0.4-0.9,0.9v33.9c0,0.5,0.4,0.9,0.9,0.9h26.8c0.5,0,0.9-0.4,0.9-0.9v-7.2
				c0-0.5-0.4-0.9-0.9-0.9H59.6c-0.5,0-0.9-0.4-0.9-0.9v-2.5c0-0.5,0.4-0.9,0.9-0.9h9.3c0.5,0,0.9-0.4,0.9-0.9v-7.6
				c0-0.5-0.4-0.9-0.9-0.9h-9.3c-0.5,0-0.9-0.4-0.9-0.9v-2.6c0-0.5,0.4-0.9,0.9-0.9h16.6c0.5,0,0.9-0.4,0.9-0.9v-6.9
				C77,348.2,76.6,347.8,76.1,347.8z"/>
			<path class="st0" d="M110.7,382.2l-6.6-11.1c-0.3-0.5-0.1-1,0.4-1.2c1.8-0.9,5.8-3.6,5.8-9.7c0-10.3-10.4-12.2-12.5-12.2H81
				c-0.5,0-0.9,0.4-0.9,0.9v33.8c0,0.5,0.4,0.9,0.9,0.9h8.5c0.5,0,0.9-0.4,0.9-0.9v-10c0-0.5,0.4-0.9,0.9-0.9h1.9
				c0.3,0,0.6,0.2,0.8,0.5l5.7,10.8c0.1,0.3,0.5,0.5,0.8,0.5h9.4C110.6,383.5,111,382.8,110.7,382.2z M95.8,363.1h-4.6
				c-0.5,0-0.9-0.4-0.9-0.9v-4.4c0-0.5,0.4-0.9,0.9-0.9h4.3c3.2,0,4.2,1,4.2,3.4C99.7,362.5,97.3,363.1,95.8,363.1z"/>
			<path class="st0" d="M6.4,366.1c-0.2-0.3-0.2-0.6,0-0.9l9.5-16c0.3-0.6-0.1-1.4-0.8-1.4H5.4c-0.3,0-0.6,0.2-0.8,0.5l-3.9,7.3
				c-0.3,0.6-1.2,0.6-1.6,0l-3.7-7.3c-0.1-0.3-0.5-0.5-0.8-0.5h-10c-0.7,0-1.1,0.7-0.8,1.3l9.1,15.9c0.2,0.3,0.1,0.6,0,0.9l-9.6,16.2
				c-0.3,0.6,0.1,1.4,0.8,1.4h9.9c0.3,0,0.6-0.2,0.8-0.5l3.9-7.7c0.3-0.6,1.2-0.7,1.6,0l4.4,7.8c0.2,0.3,0.5,0.5,0.8,0.5h9.9
				c0.7,0,1.1-0.8,0.8-1.4L6.4,366.1z"/>
		</g>
		</svg>
      <% if language_tabs %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <div id="toc">
      </div>
      <%= partial 'partials/footer' %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= yield %>
        <% current_page.data.includes && current_page.data.includes.each do |include| %>
          <%= partial "includes/#{include}" %>
        <% end %>
      </div>
      <div class="dark-box">
        <% if language_tabs %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
