## Inicio

> ¡Te damos la bienvenida!

Extrae información, crea reportes y analiza estadísticas para descubrir dónde y cuánto dinero están invirtiendo las marcas en sus campañas digitales. **El API de Admetricks es la mejor forma de interactuar con los datos** de manera automática.

El API de Admetricks utiliza <a href="https://es.wikipedia.org/wiki/Transferencia_de_Estado_Representacional" target="_blank">REST</a>. Implementa URLs orientadas a recursos y entrega respuestas en <a href="https://www.json.org/json-es.html" target="_blank">JSON</a> a través de códigos de estado y verbos HTTP.

**URL base:** todas tus consultas deben ser enviadas a <a href="https://clientela.admetricks.com" target="_blank">https://clientela.admetricks.com</a>

<%= partial "includes/token.html.md" %>

## Política de actualización

Para mantener la información lo más fresca posible, se recomienda obtener la información de los **últimos cinco días**, pues los datos se recopilan diariamente pero mejoran a medida que se aplican ciertos algoritmos de enriquecimiento.

Adicionalmente, existe un proceso de refinamiento (conocido como **reproceso**) donde pueden cambiar ciertas métricas de la campaña, o aparecer campañas nuevas, o eliminarse campañas existentes. Todo esto se realiza para **depurar la información** y entregar los resultados más apegados a la realidad.

El reproceso es programado y ocurre en las siguientes fechas.

<ul class="list__disc text-justify">
 <li>
  <strong>Día 15 de cada mes:</strong>
  se reprocesa el mes pasado. Ejemplo: el 15 de enero se reprocesa diciembre</li>
 <li>
  <strong>Cada 3 meses:</strong>
  el día 15 de cada trimestre, se reprocesa el trimestre pasado. Al terminar el reproceso trimestral, <strong>la información se cierra</strong> y no deberían existir cambios para ninguna campaña. Ejemplo: el 15 de enero se reprocesan octubre, noviembre y diciembre</li>
</ul>

## Límite de uso

Un límite de uso (del inglés _rate limit_) es el **número de llamadas** a la API que una aplicación o un usuario puede realizar en un **período de tiempo determinado**. Si se supera este límite o, la aplicación o el usuario pueden ser limitados. Las solicitudes de API realizadas por una aplicación o un usuario limitados, fallarán.

> A través de este panel lateral recibirás consejos y ejemplos.

```
  echo "Hola mundo!"
```

**El API de Admetricks está sujeto a límites de tarifas**. Cada usuario puede realizar **máximo 1000 consultas a la API por día y 120 consultas por minuto**. Si cualquiera de los dos límites es excedido, podrá volver a realizar consultas una vez termine el periodo sobrepasado.

En el caso de alcanzar el límite de consultas por día o por minuto, Admetricks responderá con el código `429 Too Many Requests`.

<span id="time_range_limits"></span>

## Períodos de Búsqueda

Siempre que desees aplicar un rango de fecha en tus reportes deberás tener en cuenta los siguientes límites entre la diferencia entre la fecha de inicio y la fecha de fin de tu reporte, lo que generalmente corresponde a los campos `date_range.start` y `date_range.end`

<details class="card">
  <summary>Haz clic aquí para desplegar los límites de periodos máximos.</summary>
  <%= partial "includes/static/time_range_limits.md" %>
</details>

<aside class="warning">
Si tu reporte supera este límite de rango de fechas, recibirás un error 400 describiendo el máximo de meses que puedes solicitar
</aside>

<span id="search_term_limits"></span>

## Términos de Búsqueda

Para determinados reportes, deberás tener en cuenta los siguientes límites en la cantidad de términos que puedes solicitar.

<details class="card">
  <summary>Haz clic aquí para desplegar los límites de términos de búsqueda.</summary>
  <%= partial "includes/static/search_term_limits.md" %>
</details>

<aside class="warning">
Si tu reporte supera el límite de términos de búsqueda, recibirás un error 400 describiendo la cantidad máxima correspondiente
</aside>

## Agrupación por fechas

Esta funcionalidad permite agrupar los datos de tu reporte por día, semana o mes, para facilitar su visualización.

Al solicitar un reporte, si no indicas un valor en el atributo `date_range.group_by` recibirás una agrupación predeterminada. Esta agrupación se determina de la siguiente forma:

<%= partial "includes/static/auto_groupby_date.md" %>

<%= partial "includes/errors.html.md" %>
