## Mis Reportes

### Obtener todos tus Reportes

<a id="opIdObtener todos tus Reportes"></a>

`GET /report/`

<%= partial "includes/snippets/reports-management/read.md" %>

Entrega una lista de los reportes asociados a tu usuario.

**Respuestas**

|Estado|Significado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|Inline|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|


**Respuestas**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|Reportes|[[Report](#schemareport)]|true|none|Reportes encontrados|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Guardar un Reporte

<a id="opIdGuardar un Reporte"></a>

`POST /report/`

<%= partial "includes/snippets/reports-management/create.md" %>

Permite suscribirse a un reporte en específico y obtener actualizaciones por correo electrónico.

**Parámetros**

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|report|body|[SaveReportRequest](#schemasavereportrequest)|true|Información del reporte|

**Respuestas**

|Estado|Significado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[Report](#schemareport)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|


**Respuestas**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|Reporte|[Report](#schemareport)|true|none|Información del reporte|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Obtener un Reporte

<a id="opIdObtener un Reporte"></a>

`GET /report/{id}/`

<%= partial "includes/snippets/reports-management/retrieve.md" %>

Entrega uno de tus reportes.

**Parámetros**

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|id|path|integer|true|Identificador del reporte a buscar|

**Respuestas**

|Estado|Significado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[Report](#schemareport)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|


**Respuestas**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|Reporte|[Report](#schemareport)|true|none|Información del reporte|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Editar un Reporte

<a id="opIdEditar un Reporte"></a>

`PUT /report/{id}/`

<%= partial "includes/snippets/reports-management/update.md" %>

Modifica uno de tus reportes ya existentes.

**Parámetros**

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|id|path|integer|true|Identificador del reporte a modificar|
|report|body|[SaveReportRequest](#schemasavereportrequest)|true|Nueva información del reporte|

**Respuestas**

|Estado|Significado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|Inline|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Eliminar un Reporte

<a id="opIdEliminar un Reporte"></a>

`DELETE /report/{id}/`

<%= partial "includes/snippets/reports-management/delete.md" %>

Elimina un Reporte (por identificador).

**Parámetros**

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|id|path|integer|true|Identificador del reporte a eliminar|

|Estado|Significado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[Report](#schemareport)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|


<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>
