## Mis Reportes

<!-- START OP -->

### Obtener todos tus Reportes

<!-- Insert code snippets here -->

<a id="opIdObtener todos tus Reportes"></a>

`GET /report/`

<%= partial "includes/snippets/reports-management/read.md" %>

Entrega una lista de los reportes asociados a tu usuario.

**Respuestas**

<details>
<summary>

    <strong>200 OK</strong>

</summary>

<ul class="list--request-params">

  <li class="param__child0">
    <strong class="param__name">*Body*</strong>
    <small class="param__type">array</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">name</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">query</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">filter</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">period</strong>
    <small class="param__type">integer</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">daily_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">weekly_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">monthly_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">monthly_memories</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">last_delivered_date</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">last_delivered_status</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">weekly_updates_delivery_day</strong>
    <small class="param__type">integer</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">report_type</strong>
    <small class="param__type">object</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child2">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child2">
    <strong class="param__name">name</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

</ul>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>400 Bad Request</strong>

</summary>

<p class="card">
  Tu petición contiene filtros inválidos o parámetros faltantes.
  </br>
  <strong>Solución:</strong> valida que todos los parámetros sean correctos.
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>401 Unauthorized</strong>

</summary>

<p class="card">
  No estás autorizado para realizar esta petición. Tu token puede estar vencido o ausente
  </br>
  <span>
    <strong>Solución:</strong> <a href="#configura-tu-token">configura tu token</a>.
  </span>
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>409 Conflict</strong>

</summary>

<p class="card">
  No se encontraron datos para los filtros aplicados.
  </br>
  <strong>Solución:</strong> modifica los filtros de tu reporte (ejemplo: amplia el rango de fechas).
</br>
</p>

</details>


<!--LIST VALUES-->

<details>
<summary>

    <strong>429 Too Many Requests</strong>

</summary>

<p class="card">
  Has alcanzado el <a href="#limite-de-uso">límite de peticiones</a> por día (1000) o por minuto (120).
  <br>
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>500 Internal Server Error</strong>

</summary>

<p class="card">
  Tu petición no puede ser atendida.
  </br>
  <strong>Solución:</strong> comunícate con tu ejecutivo de Admetricks.
</p>

</details>

<!--LIST VALUES-->

<aside class="warning">
Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>
<!-- END OP -->

<!-- START OP -->

### Guardar un Reporte

<!-- Insert code snippets here -->

<a id="opIdGuardar un Reporte"></a>

`POST /report/`

<%= partial "includes/snippets/reports-management/create.md" %>

Permite suscribirse a un reporte en específico y obtener actualizaciones por correo electrónico.

**Parámetros**

<ul class="list--request-params">

  <li class="param__childundefined">
    <strong class="param__name">report</strong>
    <small class="param__type">object</small>
    <span class="param__required">*</span>
    <br />
    <span class="param__desc">Información del reporte</span>
  </li>

</ul>

<!--LIST VALUES-->

**Respuestas**

<details>
<summary>

    <strong>200 OK</strong>

</summary>

<ul class="list--request-params">

  <li class="param__child1">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">name</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">query</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">filter</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">period</strong>
    <small class="param__type">integer</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">daily_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">weekly_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">monthly_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">monthly_memories</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">last_delivered_date</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">last_delivered_status</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">weekly_updates_delivery_day</strong>
    <small class="param__type">integer</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">report_type</strong>
    <small class="param__type">object</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child2">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child2">
    <strong class="param__name">name</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

</ul>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>400 Bad Request</strong>

</summary>

<p class="card">
  Tu petición contiene filtros inválidos o parámetros faltantes.
  </br>
  <strong>Solución:</strong> valida que todos los parámetros sean correctos.
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>401 Unauthorized</strong>

</summary>

<p class="card">
  No estás autorizado para realizar esta petición. Tu token puede estar vencido o ausente
  </br>
  <span>
    <strong>Solución:</strong> <a href="#configura-tu-token">configura tu token</a>.
  </span>
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>409 Conflict</strong>

</summary>

<p class="card">
  No se encontraron datos para los filtros aplicados.
  </br>
  <strong>Solución:</strong> modifica los filtros de tu reporte (ejemplo: amplia el rango de fechas).
</br>
</p>

</details>


<!--LIST VALUES-->

<details>
<summary>

    <strong>429 Too Many Requests</strong>

</summary>

<p class="card">
  Has alcanzado el <a href="#limite-de-uso">límite de peticiones</a> por día (1000) o por minuto (120).
  <br>
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>500 Internal Server Error</strong>

</summary>

<p class="card">
  Tu petición no puede ser atendida.
  </br>
  <strong>Solución:</strong> comunícate con tu ejecutivo de Admetricks.
</p>

</details>

<!--LIST VALUES-->

<aside class="warning">
Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>
<!-- END OP -->

<!-- START OP -->

### Obtener un Reporte

<!-- Insert code snippets here -->

<a id="opIdObtener un Reporte"></a>

`GET /report/{id}/`

<%= partial "includes/snippets/reports-management/retrieve.md" %>

Entrega uno de tus reportes.

**Parámetros**

<ul class="list--request-params">

  <li class="param__childundefined">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />
    <span class="param__desc">Identificador del reporte a buscar</span>
  </li>

</ul>

<!--LIST VALUES-->

**Respuestas**

<details>
<summary>

    <strong>200 OK</strong>

</summary>

<ul class="list--request-params">

  <li class="param__child1">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">name</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">query</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">filter</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">period</strong>
    <small class="param__type">integer</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">daily_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">weekly_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">monthly_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">monthly_memories</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">last_delivered_date</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">last_delivered_status</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">weekly_updates_delivery_day</strong>
    <small class="param__type">integer</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">report_type</strong>
    <small class="param__type">object</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child2">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child2">
    <strong class="param__name">name</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

</ul>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>400 Bad Request</strong>

</summary>

<p class="card">
  Tu petición contiene filtros inválidos o parámetros faltantes.
  </br>
  <strong>Solución:</strong> valida que todos los parámetros sean correctos.
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>401 Unauthorized</strong>

</summary>

<p class="card">
  No estás autorizado para realizar esta petición. Tu token puede estar vencido o ausente
  </br>
  <span>
    <strong>Solución:</strong> <a href="#configura-tu-token">configura tu token</a>.
  </span>
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>409 Conflict</strong>

</summary>

<p class="card">
  No se encontraron datos para los filtros aplicados.
  </br>
  <strong>Solución:</strong> modifica los filtros de tu reporte (ejemplo: amplia el rango de fechas).
</br>
</p>

</details>


<!--LIST VALUES-->

<details>
<summary>

    <strong>429 Too Many Requests</strong>

</summary>

<p class="card">
  Has alcanzado el <a href="#limite-de-uso">límite de peticiones</a> por día (1000) o por minuto (120).
  <br>
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>500 Internal Server Error</strong>

</summary>

<p class="card">
  Tu petición no puede ser atendida.
  </br>
  <strong>Solución:</strong> comunícate con tu ejecutivo de Admetricks.
</p>

</details>

<!--LIST VALUES-->

<aside class="warning">
Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>
<!-- END OP -->

<!-- START OP -->

### Editar un Reporte

<!-- Insert code snippets here -->

<a id="opIdEditar un Reporte"></a>

`PUT /report/{id}/`

<%= partial "includes/snippets/reports-management/update.md" %>

Modifica uno de tus reportes ya existentes.

**Parámetros**

<ul class="list--request-params">

  <li class="param__childundefined">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />
    <span class="param__desc">Identificador del reporte a modificar</span>
  </li>

  <li class="param__childundefined">
    <strong class="param__name">report</strong>
    <small class="param__type">object</small>
    <span class="param__required">*</span>
    <br />
    <span class="param__desc">Nueva información del reporte</span>
  </li>

</ul>

<!--LIST VALUES-->

<aside class="warning">
Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>
<!-- END OP -->

<!-- START OP -->

### Eliminar un Reporte

<!-- Insert code snippets here -->

<a id="opIdEliminar un Reporte"></a>

`DELETE /report/{id}/`

<%= partial "includes/snippets/reports-management/delete.md" %>

Elimina un Reporte (por identificador).

**Parámetros**

<ul class="list--request-params">

  <li class="param__childundefined">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />
    <span class="param__desc">Identificador del reporte a eliminar</span>
  </li>

</ul>

<!--LIST VALUES-->

**Respuestas**

<details>
<summary>

    <strong>200 OK</strong>

</summary>

<ul class="list--request-params">

  <li class="param__child1">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">name</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">query</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">filter</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">period</strong>
    <small class="param__type">integer</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">daily_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">weekly_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">monthly_updates</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">monthly_memories</strong>
    <small class="param__type">boolean</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">last_delivered_date</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">last_delivered_status</strong>
    <small class="param__type">string</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">weekly_updates_delivery_day</strong>
    <small class="param__type">integer</small>

    <br />

  </li>

  <li class="param__child1">
    <strong class="param__name">report_type</strong>
    <small class="param__type">object</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child2">
    <strong class="param__name">id</strong>
    <small class="param__type">integer</small>
    <span class="param__required">*</span>
    <br />

  </li>

  <li class="param__child2">
    <strong class="param__name">name</strong>
    <small class="param__type">string</small>
    <span class="param__required">*</span>
    <br />

  </li>

</ul>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>400 Bad Request</strong>

</summary>

<p class="card">
  Tu petición contiene filtros inválidos o parámetros faltantes.
  </br>
  <strong>Solución:</strong> valida que todos los parámetros sean correctos.
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>401 Unauthorized</strong>

</summary>

<p class="card">
  No estás autorizado para realizar esta petición. Tu token puede estar vencido o ausente
  </br>
  <span>
    <strong>Solución:</strong> <a href="#configura-tu-token">configura tu token</a>.
  </span>
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>409 Conflict</strong>

</summary>

<p class="card">
  No se encontraron datos para los filtros aplicados.
  </br>
  <strong>Solución:</strong> modifica los filtros de tu reporte (ejemplo: amplia el rango de fechas).
</br>
</p>

</details>


<!--LIST VALUES-->

<details>
<summary>

    <strong>429 Too Many Requests</strong>

</summary>

<p class="card">
  Has alcanzado el <a href="#limite-de-uso">límite de peticiones</a> por día (1000) o por minuto (120).
  <br>
</p>

</details>

<!--LIST VALUES-->

<details>
<summary>

    <strong>500 Internal Server Error</strong>

</summary>

<p class="card">
  Tu petición no puede ser atendida.
  </br>
  <strong>Solución:</strong> comunícate con tu ejecutivo de Admetricks.
</p>

</details>

<!--LIST VALUES-->

<aside class="warning">
Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>
<!-- END OP -->
