## Reportes

### Crear Reporte de Marca
`POST /brand-report/`

<%= partial "includes/snippets/brand-report.md" %>

**Parámetros**

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|body|body|[BrandReportRequest](#schemabrandreportrequest)|true|

**Respuestas**

|Estado|Resultado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[BrandReportResponse](#schemabrandreportresponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Crear Reporte de Marcas
`POST /brands-report/`

<%= partial "includes/snippets/brands-report.md" %>

**Parámetros**

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|body|body|[BrandsReportRequest](#schemabrandsreportrequest)|true|

**Respuestas**

|Estado|Resultado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[BrandsReportResponse](#schemabrandsreportresponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Crear Reporte de Campañas
`POST /campaign-report/`

<%= partial "includes/snippets/campaigns-report.md" %>

**Parámetros**

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|body|body|[CampaignReportRequest](#schemacampaignreportrequest)|true|

**Respuestas**

|Estado|Resultado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[CampaignsReportResponse](#schemacampaignsreportresponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Crear Reporte de Industria
`POST /industry-report/`

<%= partial "includes/snippets/industry-report.md" %>

**Parámetros**

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|body|body|[IndustryReportRequest](#schemaindustryreportrequest)|true|

> Example responses

> 200 Response


**Respuestas**

|Estado|Resultado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[IndustryReportResponse](#schemaindustryreportresponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Crear Reporte de Mercado
`POST /market-report/data/v3/`

<%= partial "includes/snippets/market-report-v3.md" %>

**Parámetros**

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|ad_type|query|integer|true|none|
|country|query|integer|true|none|
|day|query|string(date)|true|Formato: `YYYY-MM-DD`|
|device|query|integer|true|none|


**Respuestas**

|Estado|Resultado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[MarketReportResponse](#schemamarketreportresponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Crear Reporte de Oportunidades
`POST /opportunity-brand-report/`

<%= partial "includes/snippets/opportunity-report.md" %>

**Parámetros**

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|body|body|[OpportunityReportRequest](#schemaopportunityreportrequest)|true|

**Respuestas**

|Estado|Resultado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[OpportunityReportResponse](#schemaopportunityreportresponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Crear Reporte de Sitios Web

`POST /website-report/`

<%= partial "includes/snippets/website-report.md" %>

<a id="opIdCrear Reporte de Sitios Web"></a>

**Parámetros**

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|body|body|[WebsiteReportRequest](#schemawebsitereportrequest)|true|

**Respuestas**

|Estado|Resultado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[WebsiteReportResponse](#schemawebsitereportresponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Crear Reporte de Nuevos Negocios

`POST /newdeals-report/`

<%= partial "includes/snippets/newdeals-report.md" %>

**Parámetros**

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|body|body|[NewdealsReportRequest](#schemanewdealsreportrequest)|true|none|


**Respuestas**

|Estado|Resultado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[NewDealsReportResponse](#schemanewdealsreportresponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

### Crear Reporte de Verificación

`POST /verification-report/`

<%= partial "includes/snippets/verification-report.md" %>

**Parámetros**

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|body|body|[VerificationReportRequest](#schemaverificationreportrequest)|true|none|


**Respuestas**

|Estado|Resultado|Descripción|Modelo|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[VerificationReportResponse](#schemaverificationreportresponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>
