<nav id="primary-nav">



	<div id="logo"> <% link_to '/index.html' do %><img class="bonsai-logo" src="/images/bonsai-logo.svg"><% end %></div>

	<label for="drop" class="toggle"><img class="menu-ham" src="/images/menu.svg"></label>
	<input type="checkbox" id="drop" />

	<ul class="menu">

		<li class="header_menu_item <%= is_page_selected("/guides/getting-started.html") %>"> <%= link_to 'Getting Started', '/guides/getting-started.html' %></li>

	
		<li class="header_menu_item"> <!-- First Tier Drop Down --> <label for="drop-1" class="toggle">Guides +</label><a  href="#">Guides</a>			
			<input type="checkbox" id="drop-1"/>
			<ul id="guides">
				<li class="<%= is_page_selected("/guides/ai-engine-guide.html") %>"> <%= link_to 'A.I. Engine Guide', '/guides/ai-engine-guide.html' %>  </li>
				<li class="<%= is_page_selected("/guides/getting-started.html") %>"> <%= link_to 'Getting Started', '/guides/getting-started.html' %>  </li>
				<li class="<%= is_page_selected("/guides/inkling-guide.html") %>"> <%= link_to 'Inkling Guide', '/guides/inkling-guide.html' %>  </li>
			</ul> 
		</li>

		<li class="header_menu_item"> <!-- First Tier Drop Down --> <label for="drop-1" class="toggle">References +</label><a  href="#">References</a>			
			<input type="checkbox" id="drop-1"/>
			<ul id="references">
				<li class="<%= is_page_selected("/references/api-reference.html") %>"> <%= link_to 'API', '/references/api-reference.html' %>  </li>
				<li class="<%= is_page_selected("/references/cli-reference.html") %>"> <%= link_to 'CLI', '/references/cli-reference.html' %>  </li>
				<li class="<%= is_page_selected("/references/inkling-reference.html") %>"> <%= link_to 'Inkling', '/references/inkling-reference.html' %>  </li>
				<li class="<%= is_page_selected("/references/library-reference.html") %>"> <%= link_to 'Library', '/references/library-reference.html' %>  </li>
			</ul> 
		</li>
		
		<li class="header_menu_item <%= is_page_selected("/examples.html") %>"> <%= link_to 'Examples', '/examples.html' %></li>

		<li><gcse:search  linktarget="_parent"></gcse:search></li>


	</ul>

</nav>



