        <nav id="primary-nav">
			
			 
			
        <div id="logo"> <% link_to '.' do %><img class="bonsai-logo" src="images/bonsai-logo.svg"><% end %></div>

        <label for="drop" class="toggle"><img class="menu-ham" src="images/menu.svg"></label>
        <input type="checkbox" id="drop" />
            
			<ul class="menu">
                
				<li class="header_menu_item <%= is_page_selected("/getting-started.html") %>"> <%= link_to 'Getting Started', '/getting-started.html' %></li>
		
				<li class="header_menu_item <%= is_page_selected("/inkling.html") %>">    <%= link_to 'Inkling Guide', '/inkling.html' %>  </li>
			
      
        		<li class="header_menu_item">
            <!-- First Tier Drop Down -->
            <label for="drop-1" class="toggle">References +</label>
            <a  href="#">References</a>
            <input type="checkbox" id="drop-1"/>
            <ul id="references">
				<li class="<%= is_page_selected("/api-reference.html") %>"> <%= link_to 'API', '/api-reference.html' %>  </li>
				<li class="<%= is_page_selected("/cli-reference.html") %>"> <%= link_to 'CLI', '/cli-reference.html' %>  </li>
		        <li class="<%= is_page_selected("/inkling-reference.html") %>"> <%= link_to 'Inkling', '/inkling-reference.html' %>  </li>
				
                
            </ul> 

        </li>
		
       
				<li><gcse:search></gcse:search></li>
				
				
            </ul>
			
        </nav>
		
		

