---
title: API Reference

language_tabs:
  - shell

toc_footers:
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true
---
<%= partial "partials/introduction" %>
<%= partial "partials/authentication" %>
<%= partial "partials/users" %>
<%= partial "partials/screenings" %>
<%= partial "partials/devices" %>
<%= partial "partials/therapies" %>
<%= partial "partials/kittens" %>